.react-datepicker {
  border-radius: 0.5rem;
  border: 1px solid var(--color-border);
  background: var(--color-background);
  color: var(--color-foreground);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  font-size: 0.875rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__header {
  border-color: var(--color-border);
  background-color: transparent;
}

.react-datepicker__navigation {
  top: 1rem;
}

.react-datepicker__month-container {
  padding: 0.75rem;
}

.react-datepicker__month-text--selected {
  background-color: var(--color-foreground);
  color: var(--color-background);
}
.react-datepicker__month-text--keyboard-selected {
  background-color: var(--color-foreground);
  color: var(--color-background);
  opacity: 0.5;
}
.react-datepicker__month-text--keyboard-selected:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--selected:not([aria-disabled="true"]):hover {
  background-color: var(--color-foreground);
  color: var(--color-background);
  opacity: 0.85;
}

.react-datepicker__month-text,
.react-datepicker__year-text {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
}

